<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Add Patient</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">
    <div class="row">
        <h2>Add New Patient</h2>
    </div>
    <div class="row">
        <form action="#" th:action="@{/patient/validate}" method="post" class="form-horizontal" style="width: 100%">
            <div class="form-group">
                <label for="givenName" class="col-sm-2 control-label">Given Name</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{patient.givenName}" id="givenName" placeholder="Given Name" class="col-4">
                    <p class="text-danger" th:if="${#fields.hasErrors('patient.givenName')}" th:errors="*{patient.givenName}"></p>
                </div>
            </div>
            <div class="form-group">
                <label for="familyName" class="col-sm-2 control-label">Family Name</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{patient.familyName}" id="familyName" placeholder="Family Name" class="col-4">
                    <p class="text-danger" th:if="${#fields.hasErrors('patient.familyName')}" th:errors="*{patient.familyName}"></p>
                </div>
            </div>
            <div class="form-group">
                <label for="dob" class="col-sm-2 control-label">Date of Birth</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{patient.dob}" id="dob" placeholder="Date of Birth" class="col-4">
                    <p class="text-danger" th:if="${#fields.hasErrors('patient.dob')}" th:errors="*{patient.dob}"></p>
                </div>
            </div>
            <div class="form-group">
                <label for="sex" class="col-sm-2 control-label">Gender</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{patient.sex}" id="sex" placeholder="Gender" class="col-4">
                    <p class="text-danger" th:if="${#fields.hasErrors('patient.sex')}" th:errors="*{patient.sex}"></p>
                </div>
            </div>
            <div class="form-group">
                <label for="address" class="col-sm-2 control-label">Address</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{patient.address}" id="address" placeholder="Address" class="col-4">
                </div>
            </div>
            <div class="form-group">
                <label for="phone" class="col-sm-2 control-label">Phone</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{patient.phone}" id="phone" placeholder="Phone" class="col-4">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <a class="btn btn-danger btn-sm" href="/patient/list">Cancel</a>
                    <input class="btn btn-primary btn-sm" type="submit" value="Save">
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>